/*Navbar */
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
  }
  .navbar > ul{
     display:flex;
   list-style: none;
   margin: 20px 0px;
  }
  .navbar ul li{
     font-family: century;
     font-size: 1.1rem;
     font-weight: bold;
  }
  .navbar ul li a{
    text-decoration: none; 
    color: white;
    padding: 8px 25px;
    transition: all .5s easy;
  }
  .navbar ul li a:hover{
     background-color: white;
     color: black;
     box-shadow: 0 0 10px white;
  }
  /*/////////////////////////////////////////////////////////////////////////////////*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
body{
    min-height:100vh;
    background: url('img/pexels-hasan-albari-1229861.jpg') no-repeat;
    background-size: cover;
   /* display: flex;*/
    justify-content: center;
}
.contact-section{
    margin-top: 110px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.contact-info{
   color: #fff;
   max-width: 500px;
   line-height: 65px;
   padding-left: 50px;
   font-size: 18px;
}
.contact-info img{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info.contact-form{
    flex:1;
}
.contact-form h2{
   color:#fff;
   text-align: center;
   font-size: 35px; 
   /*text-transform: uppercase;******/
   margin-bottom: 30px;
}
.contact-form .text-box{
    background-color: #000;
    color: #fff;
    border: none;
    width: calc(50%-10%);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 28px;
    opacity: 0.9;
}
.contact-form textarea{
    background:#000 ;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    max-height: 400px;
    resize:vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom:20px ;
    opacity: 0.9;
}
.contact-form .send-btn{
    float: right;
    background:#2e94e3 ;
    color: #fff;
    border: none;
    width:120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.contact-form .send-btn:hover{
    background: #0582E3;
}
.contact{
    padding-left: 35px;
}
@media screen  and (max-width:950px){
    .contact-section{
        flex-direction: column;
    }
    .contact-info, .contact-form{
        margin: 30px 50px;
    }
    .contact-form h2{
        font-size: 30px;
    }
    .contact-form .text-box{
        width:100%
    }    
}
